*, *::before, *::after {
    box-sizing: border-box;
}
  
  * {
    margin: 0;
}
    
  input, button, textarea, select {
    font: inherit;
}
  
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
  
  #root, #__next {
    isolation: isolate;
}

body {
    margin: 0;
    height: 100vh;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
    background: #0F2027;
    background: -webkit-radial-gradient(center, ellipse cover, #2C5364 0%, #203A43 50%, #0F2027 100%);
    background: radial-gradient(ellipse at center, #2C5364 0%, #203A43 50%, #0F2027 100%);
    font-family: __inter_Fallback_20b187, ui-sans-serif, system-ui, -apple-system, "system-ui", Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
}

.nav {
    display: flex;
    justify-content: center;
}

.nav-links {
    width: 500px;
    display: flex;
    justify-content: center;
    margin-top: 35px;
    margin-bottom: 25px;
    gap: 60px;
    font-size: 1.5rem;
    padding: 5px;
}

.nav-links-item {
    display: flex;
    flex-direction: row-reverse;
    gap: 15px;
}

.nav-links-item a {
    text-decoration: none;
    color: white;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.nav-links-item a:hover {
    transform: scale(1.2);
    opacity: 0.5;
}

.space1 {
    margin-top: 100px;
}

.hero {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around
}

.typewritter {
    width: 22ch;
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 2em;
}

@keyframes typing {
    from {
        width: 0
    }
}

@keyframes blink {
    50% {
        border-color: transparent
    }
}

.space2 {
    margin-top: 10px;
}

.photo img {
    border: 3px solid black;
    border-radius: 20px;
    max-width: 400px;
}

.contacts a {
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.contacts a:hover {
    transform: scale(1.2);
}

#about-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
}

.about-title {
    display: flex;
    font-size: 3rem;
    color: white;
    margin-top: 70px;
}

.about-description-card {
    background-color: #1c1c1c;
    border: 1px solid grey;
    border-radius: 5px;
}
.about-description {
    width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    line-height: 1.5;
    word-spacing: 1px;
    text-align: justify;
    color: white;
    margin: 20px;    
}

.about-container-left {
    width: 800px;
}

.about-container-right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 520px;
}

.about-container-right img {
    max-width: 80%;
    max-height: 80%;
    box-shadow: #322C2B;
}

#skillset-container {
    max-width: 1200px;
    margin: 0 auto;
}

.skillset-title {
    font-size: 3rem;
    color: white;
}

.skill-item {
    display: flex;
    padding: 15px;
    margin-top: 25px;
    border: 2px solid black;
    transition: transform 0.3s;
    align-items: center;
}

.skills img {
    gap: 15px;
    width: 100px;
    transition: transform 0.3s ease-in-out;
}

.skills img:hover {
    transform: scale(1.2);
}

.skills {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    justify-content: center;
    flex-direction: row;
    gap: 40px;
}

#experience-container {
    max-width: 1220px;
    margin: 0 auto;
}

.experience-title {
    font-size: 3rem;
    color: white;
    margin-top: 70px;
}

.experience {
    display: flex;
    justify-content: space-around;
    border: 1px solid grey;
    border-radius: 5px;
    background-color: #1c1c1c
}

.experience-date {
    display: flex;
    width: 200px;
    color: white;
    font-size: 1rem;
    margin-top: 12px;
    margin-left: 10px;
}

.experience-job {
    margin-top: 10px;
    padding: 0;
    color: white;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    gap: 15px;

}

.experience-description {
    width: 1020px;
    font-size: 1rem;
    color: white;
    margin-bottom: 10px;
}

.space {
    padding-top: 50px;
}

.footer {
    margin: 0 auto;
    position: fixed;
    bottom: 0;
    color: white;
}