*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

#root,
#__next {
    isolation: isolate;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
    background-color: #131313;
    font-family: __inter_Fallback_20b187, ui-sans-serif, system-ui, -apple-system, "system-ui", Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
}

#nav {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.nav-links {
    width: 550px;
    display: flex;
    justify-content: center;
    margin-top: 35px;
    margin-bottom: 25px;
    gap: 60px;
    font-size: 1.5rem;
    padding: 5px;
    border: 1px solid white;
    border-radius: 25px;
    background-color: rgba(44, 44, 44, 0.5);
    backdrop-filter: blur(5px);
    animation: fade-down 0.7s 0.3s ease-in backwards;
}

.nav-links img {
    height: 20px;
}

.nav-links-item {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    gap: 15px;
}

.nav-links-item a {
    text-decoration: none;
    color: white;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.nav-links-item a:hover {
    transform: scale(1.2);
    opacity: 0.5;
}

.space {
    margin-top: 130px;
}

.space1 {
    margin-top: 230px;
}

.space2 {
    margin-top: 10px;
}

.space3 {
    padding-top: 50px;
}

#hero {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    animation: fade-up 0.7s 0.3s ease-in backwards;
}

.typewritter {
    width: 22ch;
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 2em;
}

@keyframes typing {
    from {
        width: 0
    }
}

@keyframes blink {
    50% {
        border-color: transparent
    }
}

.photo img {
    border: 3px solid grey;
    border-radius: 20px;
    max-width: 400px;
}

.contacts img {
    height: 25px;
}

.contacts a {
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.contacts a:hover {
    transform: scale(1.2);
}

#about-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    animation: fade-down 0.7s 0.3s ease-in backwards;
}

.about-title {
    display: flex;
    font-size: 3rem;
    color: white;
    margin-top: 70px;
}

.about-description-card {
    background-color: #1c1c1c;
    border: 1px solid grey;
    border-radius: 5px;
    margin-top: 40px;
}

.about-description {
    width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    line-height: 1.5;
    word-spacing: 1px;
    text-align: justify;
    color: white;
    margin: 20px;
}

.about-container-left {
    width: 800px;
}

.about-container-right {
    display: flex;
    justify-content: center;
    align-items: end;
    width: 520px;
    margin-left: 15px;
}

.about-container-right img {
    max-width: 100%;
    max-height: 100%;
    box-shadow: #322C2B;
}

#skillset-container {
    max-width: 1200px;
    margin: 0 auto;
    animation: fade-down 0.7s 0.3s ease-in backwards;
}

.skillset-title {
    font-size: 3rem;
    color: white;
}

.skill-item {
    display: flex;
    padding: 15px;
    margin-top: 25px;
    border: 2px solid grey;
    border-radius: 5px;
    transition: transform 0.3s;
    align-items: center;
}

.skills img {
    gap: 15px;
    width: 100px;
    transition: transform 0.3s ease-in-out;
}

.skills img:hover {
    transform: scale(1.2);
}

.skills {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    justify-content: center;
    flex-direction: row;
    gap: 40px;
}

#experience-container {
    max-width: 1220px;
    margin: 0 auto;
    animation: fade-down 0.7s 0.3s ease-in backwards;
}

.experience-card {
    margin-top: 40px;
}

.experience-title {
    font-size: 3rem;
    color: white;
}

@keyframes fade-up {
    0% {
        opacity: 0;
        transform:  translateY(20px) scale(0.9);
    }

    100% {
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}

@keyframes fade-down {
    0% {
        opacity: 0;
        transform: scale(0.9);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.experience {
    display: flex;
    justify-content: space-around;
    border: 1px solid grey;
    border-radius: 5px;
    background-color: #1c1c1c;
    transition: border 0.2s ease-in-out;
}

.experience:hover {
    border: 1px solid white;
}

.experience-date {
    display: flex;
    width: 200px;
    color: white;
    font-size: 1rem;
    margin-top: 15px;
    margin-left: 10px;
}

.experience-job {
    margin-top: 15px;
    padding: 0;
    color: white;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    gap: 15px;

}

.experience-job img {
    height: 20px;
}

.experience-description {
    max-width: 900px;
    display: flex;
    flex-wrap: wrap;
    width: 1020px;
    font-size: 1rem;
    color: white;
    margin-bottom: 15px;
    text-align: justify;
}

.footer {
    padding-top: 15px;
    display: flex;
    justify-content: center;
    color: white;
    border-top: 1px solid #2d2d2d;
}